.react-tabs__tab {
    border: none;
}

.react-tabs__tab--selected {
    border-bottom: 2px solid hsla(180, 29%, 47%, 1) !important;
    color: hsla(180, 29%, 47%, 1)
}

.react-tabs__tab:focus:after {
    background: transparent;
}